<ion-view>
    <ion-content class="has-header">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Suche" ng-model="search.name">
        </label>
        <ion-list class="menu-list">
            <ion-item ng-repeat="disease in diseases | orderBy:'name' | filter:search" class="borderitem-pdfs"
                      ng-click="go(disease.file)">
                {{disease.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
