<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable headercolor" align-title="left">
            <ion-nav-back-button class="backbutton">
            </ion-nav-back-button>
            <ion-nav-title side="left">
                <img class="nav-bar-logo logo" src="img/logo1.png"/>
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon buttonwhite" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-content class="menu-content">
            <ion-list class="menu-list">
                <ion-item class="borderitem" menu-close href="#/app/home">
                    Home
                </ion-item>
                <ion-item menu-close ng-click="go('1_umschlag.pdf')">
                    Umschlag
                </ion-item>
                <ion-item menu-close ng-click="go('0_titel.pdf')">
                    Inhalt
                </ion-item>
                <ion-item menu-close ng-click="go('2_laender.pdf')">
                    Länderübersicht
                </ion-item>
                <ion-item menu-close ng-click="go('3_impfungen.pdf')">
                    Impfungen
                </ion-item>
                <ion-item menu-close ng-click="go('4_malaria.pdf')">
                    Malaria
                </ion-item>
                <ion-item menu-close ng-click="go('5_krankheiten.pdf')">
                    Krankheiten
                </ion-item>
                <ion-item menu-close ng-click="go('6_hinweise.pdf')">
                    Weitere Hinweise
                </ion-item>
                <ion-item menu-close ng-click="goOutbreak()">
                    Outbreak News
                </ion-item>
                <ion-item menu-close ng-click="goCountries()" ng-show="loggedIn">
                    Länder - Suche
                </ion-item>
                <ion-item menu-close ng-click="goDiseases()" ng-show="loggedIn">
                    Krankheiten - Suche
                </ion-item>
                <ion-item menu-close href="#/app/login" ng-hide="loggedIn">
                    Anmelden
                </ion-item>
                <ion-item menu-close ng-click="logout()" ng-show="loggedIn">
                    Abmelden
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
