<ion-view>
    <ion-content>
        <!--<ng-pdf template-url="partials/viewer.html" scale="page-fit"></ng-pdf>-->

        <div class="some-pdf-container">
            <pdfjs-viewer download="false" print="false" open="false" src="{{ pdfUrl }}"></pdfjs-viewer>
        </div>
    </ion-content>
</ion-view>